<h1>Picgram</h1>

<div class="posts-wrapper row">
  <% if !@posts.nil? %>
    <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name"><%= 'Isaac Tullis' %></div>
      </div>
      <div class="image"><%= image_tag post.image(:medium) %></div>
      <div class='caption'><%= post.caption %></div>
        <% end %>
      <% end %>
    </div>
</div>
